#import library

In [ ]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
from numpy.linalg import inv
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

#import dataset

In [ ]:
df = pd.read_csv("Startups_Data_1.csv")
print(df.dtypes)
df.head()

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
for i in range(len(df['State'])) :
    if df['State'][i] == 'New York':
        df['State'][i] = 2
    elif df['State'][i] == 'Florida':
        df['State'][i] = 1
    else:
        df['State'][i] = 0

df['State'] = df['State'].astype(float, errors = 'raise')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
print(df.dtypes)

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State              float64
Profit             float64
dtype: object

#Tentukan independent dan dependent variable

In [ ]:
x_data = df[["R&D Spend", "Administration", "Marketing Spend", "State"]]      #independent variable
y_data = df[["Profit"]]                                                       #dependent variable

#pisahkan data training dan test

In [ ]:
x_data, x_data_test, y_data, y_data_test = train_test_split(x_data, y_data, test_size=0.25, shuffle=True)

print('X shape is:',x_data.shape)
print('y shape is:',y_data.shape)
print('X_test shape is:',x_data_test.shape)
print('y_test shape is:',y_data.shape)

X shape is: (37, 4)
y shape is: (37, 1)
X_test shape is: (13, 4)
y_test shape is: (37, 1)

#mengubah data frame menjadi array

In [ ]:
pre_array = x_data.to_numpy()
ones = np.ones((len(pre_array), 1))       #tambahkan 1 pada kolom pertama
array = np.hstack((ones, pre_array))

In [ ]:
array_y = y_data.to_numpy()

#menghitung slope
#b = ((x'x)^-1)x'y

In [ ]:
array_tp = array.transpose()  #x'

In [ ]:
array_tp_array = np.matmul(array_tp, array) #x'x

In [ ]:
array_inv = inv(array_tp_array) #(x'x)^-1

In [ ]:
array_inv_tp = np.matmul(array_inv, array_tp) #((x'x)^-1)x'

In [ ]:
b = np.matmul(array_inv_tp, array_y) ##((x'x)^-1)x'y

In [ ]:
w = b[0]      #weight

b1 = b[1]
b2 = b[2]
b3 = b[3]

#menghitung hasil prediksi

In [ ]:
def predict(x_data):

    x_data = list(x_data)
    x_data = x_data[0]*w + x_data[1]*b1 + x_data[2]*b2 + x_data[3]*b3
    
    return x_data

In [ ]:
x_predicted = pd.DataFrame(x_data_test)

print(x_predicted)

    R&D Spend  Administration  Marketing Spend  State
10  101913.08       110594.11        229160.95    1.0
19   86419.70       153514.11             0.00    2.0
13   91992.39       135495.07        252664.93    0.0
49       0.00       116983.80         45173.06    0.0
2   153441.51       101145.55        407934.54    1.0
4   142107.34        91391.77        366168.42    1.0
35   46014.02        85047.44        205517.64    2.0
34   46426.07       157693.92        210797.67    0.0
39   38558.51        82982.09        174999.30    0.0
29   65605.48       153032.06        107138.38    2.0
5   131876.90        99814.71        362861.36    2.0
26   75328.87       144135.98        134050.07    1.0
27   72107.60       127864.55        353183.81    2.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
y_hat = np.ceil(x_predicted.apply(predict, axis=1).values)

In [ ]:
y_hat_df = pd.DataFrame(y_hat)

In [ ]:
y_hat_df

             0
0   5290276238
1   4486067974
2   4775322567
3        87787
4   7965050541
5   7376699490
6   2388598394
7   2410042333
8   2001589969
9   3405622583
10  6845654996
11  3910345937
12  3743117566

#MSE

In [ ]:
MSE = mean_squared_error(y_data_test, y_hat)
MSE

2.246470716673322e+19

#R2 SCORE

In [ ]:
R2 = r2_score(y_data_test, y_hat)
R2

-12267302924.470953